* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--font-family1: "Roboto", sans-serif;
	--font-family2: "Nunito", sans-serif;
	--font-family3: "Braah One", sans-serif;
	--font-family4: "Montserrat", sans-serif;
	--nav-height: 80px;
	--navbarRadius: 10px;
	--navbtnleftRadius: 50px;
	--bannerbtnshadow: inset 0 0 20px 0px;
	--primary-color: #1eb2a6;
	--primary-color-light: #3ad0c3;
	--secondary-color: #ffc107;
	--secondary-dark-color: #ffa500;
	--disabled-color: #00000053;
	--dark-theme-background: #111111;
	--light-black-background: #1a1a1a;
	--light-theme-background: #fefefe;
}
.dark-theme {
	background-color: var(--dark-theme-background);
	color: var(--light-theme-background);
}
::-webkit-scrollbar-thumb {
	cursor: pointer;
	background: var(--primary-color);
	border-radius: 8px;
	/* border: 2px solid white; */
}
::-webkit-scrollbar-thumb:hover {
	background: var(--primary-color-light);
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.dark-sc::-webkit-scrollbar-track {
	background: #121416;
}
::selection {
	color: white;
	background: var(--secondary-color);
}
.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
body {
	font-family: var(--font-family1);
}
.bg-prime {
	color: var(--primary-color);
}

.topNavbar {
	background-color: var(--light-black-background);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.rightopts {
	display: flex;
}
.logo {
	text-wrap: nowrap;
}
.logo > a {
	text-decoration: none;
}
.burgericon {
	display: flex;
	align-items: center;
}
.btn-primary-c {
	color: white;
	background-color: var(--primary-color);
}
.btn-primary-c:hover {
	color: white;
	background-color: var(--primary-color-light);
}
.btnstand {
	text-decoration: none;
	background-color: var(--dark-theme-background);
	color: var(--light-theme-background);
	padding: 10px;
	margin: 5px;
	display: flex;
	border-radius: 10px;
	cursor: pointer;
	transition: all 200ms linear;
}
.btnstand:hover {
	/* color: var(--primary-color-light); */
	color: var(--light-theme-background);
	/* border-color: white; */
	box-shadow: 0 0 0 2px white;
}
.btnstand:active {
	color: var(--primary-color);
	box-shadow: 0 0 0 2px var(--primary-color);
}
.searchbar {
	background-color: var(--dark-theme-background);
	color: var(--light-theme-background);
	padding: 10px;
	/* cursor: pointer; */
	margin: 5px;
	border-radius: 10px;
	width: 500px;
	display: flex;
	transition: all 100ms linear;
}
.searchbar > input,
.searchbar > button {
	color: white;
	background-color: transparent;
	outline: none;
	border: none;
}
.searchbar > input {
	text-indent: 5px;
	width: 100%;
}
.searchbar > button {
	display: flex;
}
.searchbar > button:active {
	color: var(--primary-color);
}

.lefthiddennav {
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--light-black-background);
	width: 250px;
	height: 100vh;
	transition: all 300ms cubic-bezier(0.28, 0.3, 0.15, 1.27);
	z-index: 100;
}
.hideleft {
	left: -250px;
}
.closenavbtn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 5px 10px 25px;
}

.banner1 {
	padding: 20px;
}
.bannerimg {
	border-radius: 10px;
	overflow: hidden;
}
.bannerimg > img {
	width: 100%;
	height: 50vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	object-fit: cover;
}
.contain {
	margin: 30px auto;
}
.containertitle {
	font-family: var(--font-family3);
	font-size: 25px;
	padding: 10px;
}
.diffindicator > span > span {
	font-size: 10px;
}
.diffindicator {
	font-size: 12px;
	text-transform: uppercase;
	padding: 10px 0;
}
.diffindicator > :last-child {
	background-color: var(--primary-color);
	color: white;
	border-radius: 20px;
	padding: 5px 10px;
}
.smlcardhorizontal {
	display: flex;
	overflow: auto;
}
.smlcard {
	background-color: var(--light-black-background);
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
	width: 300px;
	min-width: 150px;
	transition: all 150ms linear;
	cursor: pointer;
}
.smlcard:hover {
	transform: scale(1.1);
}
.landscapecardhorizontal {
	display: flex;
	overflow-y: hidden;
}
.landscapecard {
	background-color: var(--light-black-background);
	border-radius: 10px;
	padding: 0px;
	margin: 10px;
	min-width: 200px;
	/* max-height: 300px; */
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.landscapecardimg > img {
	width: 100%;
	height: 150px;
	object-fit: cover;
	border-radius: 10px;
}
.landscapecardbody {
	padding: 10px;
}
.cardtitle {
	font-size: 25px;
}
.cardbodytext {
	opacity: 0.5;
}
.dark-card {
	background-color: var(--light-black-background);
}

.wrappercardhorizontal {
	/* max-height: 120px; */
	--_spacer: 1rem;
	display: grid;
	grid-auto-flow: column;
	gap: var(--_spacer);
	grid-auto-columns: 21%;
	overflow-x: auto;
	overscroll-behavior-inline: contain;
}
.snap-inline {
	scroll-snap-type: inline mandatory;
	scroll-padding-inline: var(--_spacer, 1rem);
}
.snap-inline > * {
	scroll-snap-align: start;
}
.horicard {
	overflow: hidden;
	margin: 5px;
	border-radius: 10px;
	background-color: #1a1a1a;
}
.horicard > img {
	inline-size: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
}

/* footer */

.footer {
	margin-top: 20px;
	min-height: 200px;
	background-color: var(--light-black-background);
}

/* login box */

.loginback-hide {
	top: -100% !important;
	/* display: none; */
}
.loginback {
	--_color: #162938;
	background-position: center center;
	width: 100%;
	position: fixed;
	background-color: #1a1a1a;
	top: 0;
	height: 100%;
	z-index: 100;
	background-image: url(images/img/bluevector.jpg);
	background-size: cover;
	transition: all 250ms linear;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loginback > div {
	padding: 30px;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	box-shadow: inset 0 0 5px 0 #fefefe;
	width: 400px;
	margin: 10px;
	background: #fefefe2e;
	overflow: hidden;
	color: var(--_color);
}
.loginback > div > span {
	color: white;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
	background: var(--_color);
	border-bottom-left-radius: 10px;
}
.loginback > div > div {
	margin: 10px;
}
.loginback > div > div > input {
	text-indent: 10px;
	width: 100%;
	color: var(--_color);
	border: none;
	background: transparent;
	border-bottom: 2px solid var(--_color);
	outline: none;
	padding: 0 0 10px 0;
}

.loginback > div > div > input[type="submit"] {
	padding: 10px;
	border-radius: 10px;
	outline: none;
	text-align: center;
	color: white;
	background: var(--_color);
	transition: all 100ms linear;
}
.loginthirdparty {
	color: white;
	display: flex;
	cursor: pointer;
	border-radius: 10px;
	overflow: hidden;
}
.loginthirdparty > :last-child {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #4285f4;
}
.loginthirdparty > :first-child {
	background: #fefefe;
	padding: 10px;
}
.loginthirdparty > span > img {
	height: 30px;
}
